# Core ML dependencies
torch==2.4.0
numpy>=1.24.0

# Mario Environment
gym==0.26.2  # Required by gym-super-mario-bros
gym-super-mario-bros==7.3.0
pygame==2.6.1  # For rendering
shimmy==2.0.0
gym[other]


# RL Framework
stable-baselines3>=2.1.0

# Utils
tqdm  # For progress bars
pyyaml  # For config files